@model PIM.Models.BaseConhecimento

@{
 ViewData["Title"] = "Excluir Base de Conhecimento";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir este item?</h3>
<div>
 <h4>BaseConhecimento</h4>
 <hr />
 <dl class="row">
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Titulo)</dt>
 <dd class="col-sm-9">@Model.Titulo</dd>

 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CategoriaId)</dt>
 <dd class="col-sm-9">@Model.CategoriaId</dd>
 </dl>
</div>

<form asp-action="Delete" method="post">
 <input type="hidden" asp-for="BaseId" />
 <button type="submit" class="btn btn-danger">Excluir</button>
 <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>