@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="/css/dbtestes.css" />
<partial name="~/Pages/Shared/_DbTestesNav.cshtml" />
<div class="container-fluid">
 <main>
 <h2>Remains</h2>
 </main>
</div>
