@model PIM_FINAL.Models.Prioridade

@{
 ViewData["Title"] = "Criar Prioridade";
}

<h1>Criar Prioridade</h1>
<form asp-action="Create" method="post">
 <div class="form-group">
 <label asp-for="NomePrioridade"></label>
 <input asp-for="NomePrioridade" class="form-control" />
 </div>
 <div class="form-group">
 <label asp-for="Descricao"></label>
 <input asp-for="Descricao" class="form-control" />
 </div>
 <button type="submit" class="btn btn-primary">Salvar</button>
</form>