@model PIM.Models.Prioridade

@{
    ViewData["Title"] = "Detalhes da Prioridade";
}

<h2>Detalhes da Prioridade</h2>
<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.PrioridadeId</dd>
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.NomePrioridade</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.PrioridadeId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>