@model PIM_FINAL.Models.StatusChamado

@{
 ViewData["Title"] = "Editar Status";
}
<h1>Editar</h1>
<form asp-action="Edit" method="post">
 <input type="hidden" asp-for="StatusId" />
 <div class="form-group">
 <label asp-for="NomeStatus"></label>
 <input asp-for="NomeStatus" class="form-control" />
 </div>
 <div class="form-group">
 <label asp-for="Descricao"></label>
 <input asp-for="Descricao" class="form-control" />
 </div>
 <button type="submit" class="btn btn-primary">Salvar</button>
</form>