@model PIM.Models.StatusChamado

@{
    ViewData["Title"] = "Novo Status";
}

<h2>Novo Status</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NomeStatus"></label>
        <input asp-for="NomeStatus" class="form-control" />
        <span asp-validation-for="NomeStatus" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>