@model PIM_FINAL.Models.Atendimento

@{
 ViewData["Title"] = "Criar Atendimento";
}

<h1>Criar Atendimento</h1>
<form asp-action="Create" method="post">
 <div class="form-group">
 <label asp-for="ChamadoId"></label>
 <input asp-for="ChamadoId" class="form-control" />
 </div>
 <div class="form-group">
 <label asp-for="UsuarioTecnicoId"></label>
 <input asp-for="UsuarioTecnicoId" class="form-control" />
 </div>
 <div class="form-group">
 <label asp-for="AcaoRealizada"></label>
 <input asp-for="AcaoRealizada" class="form-control" />
 </div>
 <div class="form-group">
 <label asp-for="TempoGasto"></label>
 <input asp-for="TempoGasto" class="form-control" />
 </div>
 <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
</form>