@model PIM_FINAL.Models.Atendimento

@{
 ViewData["Title"] = "Excluir Atendimento";
}
<h1>Excluir</h1>
<div>
 <h4>Tem certeza que deseja excluir?</h4>
 <dl class="row">
 <dt class="col-sm-2">Chamado</dt>
 <dd class="col-sm-10">@Model.ChamadoId</dd>
 <dt class="col-sm-2">Ação</dt>
 <dd class="col-sm-10">@Model.AcaoRealizada</dd>
 </dl>
 <form asp-action="Delete" method="post">
 <input type="hidden" asp-for="AtendimentoId" />
 <button type="submit" class="btn btn-danger">Delete</button>
 <a asp-action="Index" class="btn btn-secondary">Cancel</a>
 </form>
</div>