@model PIM_FINAL.Models.HistoricoChamado

@{
    ViewData["Title"] = "Editar Histórico";
}

<h1>Editar Histórico</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="HistoricoId" />
    <div class="form-group">
        <label asp-for="ChamadoId" class="control-label"></label>
   <input asp-for="ChamadoId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UsuarioId" class="control-label"></label>
   <input asp-for="UsuarioId" class="form-control" />
    </div>
    <div class="form-group">
   <label asp-for="Acao" class="control-label"></label>
        <input asp-for="Acao" class="form-control" />
    </div>
    <div class="form-group">
  <label asp-for="Descricao" class="control-label"></label>
   <textarea asp-for="Descricao" class="form-control"></textarea>
    </div>
    <div class="form-group">
   <label asp-for="DataAcao" class="control-label"></label>
    <input asp-for="DataAcao" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>