@model PIM_FINAL.Models.Funcionario

@{
 ViewData["Title"] = "Excluir Funcionário";
}
<h1>Excluir</h1>
<div>
 <h4>Tem certeza que deseja excluir?</h4>
 <dl class="row">
 <dt class="col-sm-2">Nome</dt>
 <dd class="col-sm-10">@Model.Nome</dd>
 <dt class="col-sm-2">Email</dt>
 <dd class="col-sm-10">@Model.Email</dd>
 </dl>
 <form asp-action="Delete" method="post">
 <input type="hidden" asp-for="FuncionarioId" />
 <button type="submit" class="btn btn-danger">Delete</button>
 <a asp-action="Index" class="btn btn-secondary">Cancel</a>
 </form>
</div>