@model PIM_FINAL.Models.Avaliacao

@{
 ViewData["Title"] = "Excluir Avaliação";
}
<h1>Excluir</h1>
<div>
 <h4>Tem certeza que deseja excluir?</h4>
 <dl class="row">
 <dt class="col-sm-2">Nota</dt>
 <dd class="col-sm-10">@Model.Nota</dd>
 <dt class="col-sm-2">Comentário</dt>
 <dd class="col-sm-10">@Model.Comentario</dd>
 </dl>
 <form asp-action="Delete" method="post">
 <input type="hidden" asp-for="AvaliacaoId" />
 <button type="submit" class="btn btn-danger">Delete</button>
 <a asp-action="Index" class="btn btn-secondary">Cancel</a>
 </form>
</div>