@model PIM_FINAL.Models.Avaliacao

@{
 ViewData["Title"] = "Detalhes da Avaliação";
}
<h1>Detalhes</h1>
<dl class="row">
 <dt class="col-sm-2">Chamado</dt>
 <dd class="col-sm-10">@Model.ChamadoId</dd>
 <dt class="col-sm-2">Nota</dt>
 <dd class="col-sm-10">@Model.Nota</dd>
 <dt class="col-sm-2">Comentário</dt>
 <dd class="col-sm-10">@Model.Comentario</dd>
</dl>
<p>
 <a asp-action="Edit" asp-route-id="@Model.AvaliacaoId">Edit</a> |
 <a asp-action="Index">Back to List</a>
</p>